html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 400px;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}

.container {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-image: image-set(
    "../images/header-bg.webp" type("image/webp"),
    "../images/header-bg.jpg" type("image/jpeg")
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #f5f5f5;
}

.header__top {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 64px 0;
}

.menu {
  justify-self: start;
}

.menu__list {
  display: flex;
  gap: 40px;
  text-transform: uppercase;
  font-weight: 300;
}

.logo {
  justify-self: center;
}

.phone {
  justify-self: end;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 9px;
}

.title {
  padding-top: 100px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 85px;
  line-height: 100px;
  font-weight: 400;
  max-width: 900px;
}

.text {
  font-size: 24px;
  margin-bottom: 30px;
  max-width: 760px;
  line-heighth: 1.2;
}

.header__btn {
  padding: 20px 44px;
  background-color: #f5f5f5;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  color: #2b2b2b;
}

.services {
  padding: 150px 0;
  color: #f5f5f5;
  background-color: #171717;
}

.services__title {
  margin-bottom: 60px;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 300;
}

.services__list {
  border-top: 1px solid #f5f5f5;
}

.services__item {
  padding: 20px 44px 20px 20px;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.services__item-title {
  text-transform: uppercase;
  fomt-size: 28px;
  font-weight: 300;
}

.services__item-text {
  max-width: 804px;
  width: 100%;
}
