html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 400px;
  font-size: 16px;
  line-height: 1.5;
  color: #2b2b2b;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}

.section__title {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 300;
  line-height: 49px;
}

.container {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-image: image-set(
    "../images/header-bg.webp" type("image/webp"),
    "../images/header-bg.jpg" type("image/jpeg")
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #f5f5f5;
}

.header__top {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 64px 0;
}

.menu {
  justify-self: start;
}

.menu__list {
  display: flex;
  gap: 40px;
  text-transform: uppercase;
  font-weight: 300;
}

.logo {
  justify-self: center;
}

.phone {
  justify-self: end;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 9px;
}

.title {
  padding-top: 100px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 85px;
  line-height: 100px;
  font-weight: 400;
  max-width: 900px;
}

.text {
  font-size: 24px;
  margin-bottom: 30px;
  max-width: 760px;
  line-heighth: 1.2;
}

.header__btn {
  padding: 20px 44px;
  background-color: #f5f5f5;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  color: #2b2b2b;
}

.services {
  padding: 150px 0;
  color: #f5f5f5;
  background-color: #171717;
}

.services__title {
  margin-bottom: 60px;
}

.services__list {
  border-top: 1px solid #f5f5f5;
}

.services__item {
  padding: 20px 44px 20px 20px;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.services__item-title {
  text-transform: uppercase;
  fomt-size: 28px;
  font-weight: 300;
}

.services__item-text {
  max-width: 804px;
  width: 100%;
}

.projects {
  padding: 150px 0;
}

.projects__title {
  margin-bottom: 50px;
}

.projects__slider {
  overflow: visible;
}

.projects__slider .swiper-wrapper {
  align-items: center;
}

.projects__item {
  border: 1px solid #d9d9d9;
  padding: 20px;
  max-width: 560px;
}

.projects__item-img {
  max-width: 100%;
  margin-bottom: 40px;
}

.projects__item-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.2;
}

.projects__item-descr {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 1.2;
}

.projects__item-text {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.projects__item-btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  border: 1px solid #2b2b2b;
  padding: 20px 70px;
  line-height: 1.2;
}

.projects__arrow {
  cursor: pointer;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-75px);
}

.projects__arrow-right {
  transform: translateX(15px);
}

.steps {
  padding: 70px 0 100px;
  background-color: #171717;
  color: #f5f5f5;
  display: flex;
}

.steps__content {
  max-width: 556px;
}

.steps__title {
  margin-bottom: 46px;
  line-height: 49px;
}

.steps__list {
  list-style: none;
  counter-reset: my-counter;
}

.steps__item {
  padding-left: 60px;
  counter-increment: my-counter;
  position: relative;
}

.steps__item::before {
  content: counter(my-counter);
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  width: 40px;
  height: 40px;
  border: 1px solid #f5f5f5;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps__item::after {
  content: "";
  width: 1px;
  background-color: #f5f5f5;
  position: absolute;
  left: 20px;
  top: 48px;
  bottom: 8px;
}

.steps__item:last-child::after {
  display: none;
}

.steps__item-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
  padding-top: 7px;
}

.steps__item-text {
  padding-bottom: 40px;
}

.steps__img img {
  width: 100%;
  display: block;
}

.steps .container {
  margin: 0;
  max-width: none;
  padding: 0;
  flex-shrink: 0;
  padding-left: calc(max(0px, (100% - 1620px) / 2) + 10px);
  padding-right: 10px;
}

.steps__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog {
  padding: 150px 0;
}

.catalog__title {
  margin-bottom: 60px;
  max-width: 556px;
  line-height: 1.2;
}

.catalog__content {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-bottom: 150px;
}

.catalog__form {
  max-width: 555px;
}

.catalog__form-title {
  font-size: 28px;
  line-height: 33px;
  font-weight: 300;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.catalog__form-text {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 50px;
  max-width: 430px;
  font-weight: 300;
}

.catalog__form-input {
  display: block;
  width: 100%;
  margin-bottom: 35px;
  padding: 20px;
  border: 1px solid #171717;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 100;
}

..catalog__form-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 100;
}

.catalog__form-label {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 50px;
}

.catalog__form-checkbox {
  width: 17px;
  height: 17px;
  accent-color: #171717;
}

.catalog__form-labeltext {
  font-size: 14px;
  font-weight: 300;
}

.catalog__form-labeltext a {
  text-decoration: underline;
}

.catalog__form-btn {
  display: inline-block;
  padding: 20px 40px;
  text-transform: uppercase;
  color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  background-color: #171717;
  border: none;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.gallery img {
  max-width: 100%;
}

.request {
  padding: 184px 0;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/request.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.request__inner {
  padding: 75px 120px;
  max-width: 1000px;
  background-color: rgba(22, 22, 22, 0.85);
}

.request__title {
  color: #f5f5f5;
  margin-bottom: 55px;
}

.request__form {
  display: flex;
}

.request__input {
  width: 100%;
  display: block;
  padding: 20px;
  border: none;
  background-color: #d9d9d9;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 100;
}

.request__btn {
  padding: 20px 46px;
  display: inline-block;
  text-transform: uppercase;
  color: #2b2b2b;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  border: none;
  width: 365px;
  cursor: pointer;
}

.footer {
  padding: 100px 0;
  background-color: #171717;
  color: #f5f5f5;
  font-weight: 300;
}

.footer__inner {
  margin-bottom: 10px;
  padding-right: 175px;
  display: flex;
  gap: 100px;
}

.footer__logo {
  margin-right: auto;
}

.footer__nav-list {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__social,
.footer__contacts {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__social-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__contacts-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__img-map {
  align-self: start;
}

.footer__contacts-time {
  display: inline-block;
  padding-left: 28px;
  max-width: 150px;
}

.copy {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 14px;
}

.menu__btn {
  display: none;
}

@media (max-width: 1500px) {
  .footer__inner {
    padding-right: 0;
    gap: 50px;
  }
}

@media (max-width: 1250px) {
  .services__item {
    display: block;
  }

  .steps {
    display: block;
  }

  .catalog__content {
    display: block;
  }

  .catalog__content img {
    max-width: 100%;
  }
}

@media (max-width: 1140px) {
  .footer__inner {
    gap: 40px 125px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .menu__btn {
    display: flex;
    width: 40px;
    height: 24px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }

  .menu__btn::before,
  .menu__btn::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #f5f5f5;
  }

  .menu__btn::before {
    top: 0;
  }

  .menu__btn::after {
    bottom: 0;
  }
  .menu__btn span {
    height: 2px;
    background-color: #f5f5f5;
    width: 100%;
  }

  .menu__list {
    position: absolute;
    inset: 0;
    background-color: #171717;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .menu__list.active {
    transform: translateY(0);
  }
}

@media (max-width: 1000px) {
  .request__form {
    display: block;
  }

  .request__input {
    margin-bottom: 20px;
  }

  .request__btn {
    width: 100%;
  }
}

@media (max-width: 840px) {
  .footer__inner {
    gap: 20px;
  }
}

@media (max-width: 640px) {
  .services,
  .projects,
  .steps,
  .catalog,
  .request,
  .footer {
    padding: 50px 0;
  }

  .phone span{
    display: none;
  }

  .title {
    padding-top: 50px;
    margin-bottom: 20px;
    font-size: 56px;
    line-height: 1.2;
  }

  .text {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .header__btn {
    padding: 15px 44px;
    font-size: 16px;
  }

  .section__title {
    margin-bottom: 20px;
  }

  .section__title {
    font-size: 24px;
    line-height: 26px;
  }

  .services__item {
    padding: 20px 0;
  }

  .services__item-title {
    font-size: 20px;
  }

  .projects__item-title {
    font-size: 20px;
  }

  .projects__item-descr {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .steps__item {
    padding-left: 35px;
  }

  .steps__item-title {
    font-size: 20px;
  }

  .steps__item::before {
    width: 20px;
    height: 20px;
    top: 5px;
  }

  .steps__item-title {
    padding-top: 2px;
  }

  .steps__item::after {
    left: 10px;
    top: 32px;
    bottom: 3px;
  }

  .steps__item-text {
    padding-bottom: 15px;
  }

  .catalog__content {
    margin-bottom: 50px;
  }

  .catalog__form-title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
  }

  .catalog__form-text {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .catalog__form-input {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .catalog__form-input::placeholder {
    font-size: 16px;
    line-height: 20px;
  }

  .catalog__form-label {
    margin-bottom: 20px;
  }

  .catalog__form-btn {
    padding: 15px 40px;
    font-size: 16px;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .request {
    margin-bottom: 50px;
  }

  .request__inner {
    padding: 20px 10px;
  }

  .request__btn {
    width: 100%;
    font-size: 16px;
    padding: 15px 46px;
  }

  .request__input {
    font-size: 18px;
    line-height: 20px;
    padding: 14px;
  }

  .footer__inner {
    flex-direction: column;
  }
}
@media (max-width: 414px) {
  .header__top {
    padding: 40px 0;
  }

  .title {
    font-size: 48px;
    line-height: 1.1;
  }

  .text {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .projects__item {
    padding: 10px;
  }
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__social-link span {
    display: none;
  }

  .footer__social {
    flex-direction: row;
    gap: 25px;
  }
}
