html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 400px;
  font-size: 16px;
  line-height: 1.5;
  color: #2b2b2b;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}

.section__title {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 300;
}

.container {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-image: image-set(
    "../images/header-bg.webp" type("image/webp"),
    "../images/header-bg.jpg" type("image/jpeg")
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #f5f5f5;
}

.header__top {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 64px 0;
}

.menu {
  justify-self: start;
}

.menu__list {
  display: flex;
  gap: 40px;
  text-transform: uppercase;
  font-weight: 300;
}

.logo {
  justify-self: center;
}

.phone {
  justify-self: end;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 9px;
}

.title {
  padding-top: 100px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 85px;
  line-height: 100px;
  font-weight: 400;
  max-width: 900px;
}

.text {
  font-size: 24px;
  margin-bottom: 30px;
  max-width: 760px;
  line-heighth: 1.2;
}

.header__btn {
  padding: 20px 44px;
  background-color: #f5f5f5;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  color: #2b2b2b;
}

.services {
  padding: 150px 0;
  color: #f5f5f5;
  background-color: #171717;
}

.services__title {
  margin-bottom: 60px;
}

.services__list {
  border-top: 1px solid #f5f5f5;
}

.services__item {
  padding: 20px 44px 20px 20px;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.services__item-title {
  text-transform: uppercase;
  fomt-size: 28px;
  font-weight: 300;
}

.services__item-text {
  max-width: 804px;
  width: 100%;
}

.projects {
  padding: 150px 0;
}

.projects__title {
  margin-bottom: 50px;
}

.projects__slider {
  overflow: visible;
}

.projects__slider .swiper-wrapper {
  align-items: center;
}

.projects__item {
  border: 1px solid #d9d9d9;
  padding: 20px;
  max-width: 560px;
}

.projects__item-img {
  max-width: 100%;
  margin-bottom: 40px;
}

.projects__item-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.2;
}

.projects__item-descr {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 1.2;
}

.projects__item-text {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.projects__item-btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  border: 1px solid #2b2b2b;
  padding: 20px 70px;
  line-height: 1.2;
}

.projects__arrow {
  cursor: pointer;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-75px);
}

.projects__arrow-right {
  transform: translateX(15px);
}

.steps {
  padding: 70px 0 100px;
  background-color: #171717;
  color: #f5f5f5;
  display: flex;
}

.steps__content {
  max-width: 556px;
}

.steps__title {
  margin-bottom: 46px;
  line-height: 49px;
}

.steps__list {
  list-style: none;
  counter-reset: my-counter;
}

.steps__item {
  padding-left: 60px;
  counter-increment: my-counter;
  position: relative;
}

.steps__item::before {
  content: counter(my-counter);
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  width: 40px;
  height: 40px;
  border: 1px solid #f5f5f5;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps__item::after {
  content: "";
  width: 1px;
  background-color: #f5f5f5;
  position: absolute;
  left: 20px;
  top: 48px;
  bottom: 8px;
}

.steps__item:last-child::after {
  display: none;
}

.steps__item-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
  padding-top: 7px;
}

.steps__item-text {
  padding-bottom: 40px;
}

.steps__img img {
  width: 100%;
  display: block;
}

.steps .container {
  margin: 0;
  max-width: none;
  padding: 0;
  flex-shrink: 0;
  padding-left: calc(max(0px, (100% - 1620px) / 2) + 10px);
  padding-right: 10px; 
}

.steps__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
